* {
    margin: 0%;
    padding: 0%
}


header {
    background-image: linear-gradient(to bottom, rgb(118, 77, 2), orange);
    width: 100%;
    position: fixed;
    padding-bottom: 30px;
    z-index: 10;
}

.menu {
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;

}

body {
    background-color: rgb(239, 239, 239);
}

.sub-menu {
    font-family: "Poppins";
    font-size: 20px;
    font-weight: bolder;
    color: rgb(131, 85, 1);
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
}

.sub-menu:hover {
    background-color: rgb(131, 85, 1);
    color: orange;
    transition: 0.3s;
}

.main-content {
    background-color: white;
    position: relative;
    top: 0;
    z-index: 5;
    margin-right: 6em;
    margin-left: 6em;
    min-height: 100vh;
    padding-top:10em;
    box-shadow: rgb(127, 127, 127) 2px 2px 7px;
    
}

#title {
    margin-top: 30px;
    margin-left: 14em;
    margin-right: 14em;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'BBH Sans Bartle';
    font-size: 25px;
    color: rgb(0, 78, 147);
    text-shadow: 2px 2px rgb(0, 0, 95);
    box-shadow: 2px 2px 1px rgb(104, 67, 0);
}

#logo {
    width: 100px;
    height: 100px;
    margin-top: 13px;
    margin-left: 10px;
    border-radius: 50%;
    position: absolute;
}

.redes-sociais {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: white;
    text-decoration: none;
    position: absolute;
}

#youtube {
    margin-left: 7em;
    margin-bottom: 3.3em;
    background-image: url('youtube-logo.webp');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 40px 40px;
    padding-left: 35px;
    bottom: 16px;
}

#instagram {
    margin-left: 7em;
    margin-bottom: 3.3em;
    background-image: url('icone-instagram.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 25px 25px;
    padding-left: 29px;
}

.titulocomum {
    font-family: "Poppins";
    font-size: 30px;
    margin: 40px;
    text-align: center;
}



.paragrafo-comum {
    font-family: "Poppins";
    color: white;
    font-size: 13px;
}

.operações-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.exercícios {
    text-decoration: none;
    text-align: center;
    font-family: "Poppins";
    color: black;
    width: 125px;
    height: 125px;
    background-color: aquamarine;
    align-content: center;
    margin-left:6em;
    margin-right: 6em;
}

