* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* HEADER/CABEÇALHO */

header {
    background-image: linear-gradient(to bottom, rgb(118, 77, 2), orange);
    width: 100%;
    position: fixed;
    z-index: 10;
    height: 130px;
    
    
}

.header-top {
    display: flex;
    align-items: center;
    height: 78%;
    
    
}

.left-box {
    display: flex;
    align-items: center;
    height: 50%;
    
    
}

.socialmedia-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    
    
}



.menu {
    display: flex;
    justify-content: center;
    gap: 10px;

}

ul {
    list-style:none;
}


.sub-menu {
    font-family: "Poppins";
    font-size: 20px;
    font-weight: bolder;
    color: rgb(131, 85, 1);
    text-decoration: none;
}

.sub-menu:hover {
    background-color: rgb(131, 85, 1);
    color: orange;
    transition: 0.3s;
    border-radius: 5px;
}



#title {
    font-family: 'BBH Sans Bartle';
    font-size: 25px;
    color: rgb(0, 78, 147);
    text-shadow: 2px 2px rgb(0, 0, 95);
    margin-left: 5%;
    
}


#logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;

}

.redes-sociais {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: white;
    text-decoration: none;

}

#youtube {
    background-image: url('youtube-logo.webp');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 40px 40px;
    padding-left: 35px;
    
}

#instagram {
    background-image: url('icone-instagram.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 25px 25px;
    padding-left: 29px;
}


/* CONTEÚDO PRINCIPAL/MAIN CONTENT */

body {
    background-image: url("fondo-inconsútil-del-vector-de-la-matemáticas-con-las-fórmulas-los-diagramas-y-ecuaciones-manuscritos-en-un-papel-blanco-145507710.webp");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.main-content {
    background-color: white;
    position: relative;
    top: 0;
    z-index: 5;
    margin: 0 auto;
    max-width: 1400px;
    min-height: 100vh;
    padding-top:10em;
    box-shadow: rgb(127, 127, 127) 2px 2px 7px;
    display: flex;
    flex-wrap: wrap;
    
}

.titulocomum {
    font-family: "Poppins";
    font-size: 200%;
    margin: 40px;
    text-align: justify;
}

.titulocomum2 {
    font-family: "Poppins";
    font-size: 200%;
    margin: 40px;
    text-align: center;
}

.caixaazul{
    position: relative;
    width: 100%;
    min-height: 375px;
    background-color:rgb(3, 0, 84);
    padding-top: 5px;
    border: 15px solid orange;
    margin-top: 20em;
    
}

.peopleicon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
    
}

.card {
    width: 33%;
    text-align: center;
}
    
.cards-box {
    display: flex;
    justify-content: space-between;
    margin-top: 5em;
}

.paragrafo-comum {
    font-family: "Poppins";
    color: white;
    font-size: 80%;
}

#exercise-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 5em;
}

.exercise-cards{
    width: 280px;
    height: 375px;
    margin: 0px 10px 10px 10px;
    text-decoration: none;
    color: black;
    font-family: "Poppins";
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    align-content: center;
    background-color:white;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    background-repeat: no-repeat;
}

#card1{
    background-image: url('adicao-subtracao-multiplicacao-divisao.avif');
    background-size: 100% 100%;
}

#card2{
    background-image: url('mao-desenhada-matematica-geometria-simbolos-de-trigonometria-simbolos-matematicos-no-fundo-da-pagina-do-caderno_641602-394.avif');
    background-size: 100% 100%;
}

#card3{
    background-image: url('colecao-de-desenhos-matematicos_341841-1071.avif');
    background-size: 100% 100%;
}

.desenho1 {
    height: 700px;
    width: 700px;
    position:absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 59em;
    

    
}